
.container {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    z-index: 5;
    box-shadow: 0 -2px 4px rgba(0,0,0,.08), 0 -4px 12px rgba(0,0,0,.08);
    margin-bottom: 0 !important;
    padding: 25px 0 !important;
}

.containerQuiz {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    z-index: 5;
    box-shadow: 0 -2px 4px rgba(0,0,0,.08), 0 -4px 12px rgba(0,0,0,.08);
    margin-bottom: 0 !important;
    border-radius: 16px;
    padding: 20px;
}

.quizh1 {
    font-weight: bold;
}

.btnprimary {
    background-color: #8031a7 !important;
    color: #FFFFFF !important;
    padding: 12px 40px;
    border: none;
    border-radius: 22px !important;
    text-align: center;
    font-weight: 600 !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: 15vh;
}

.startQuiz {
    background-color: #8031a7 !important;
    color: #FFFFFF !important;
    padding: 12px 0px;
    border: none;
    border-radius: 22px !important;
    text-align: center;
    font-weight: 600 !important;
    text-decoration: none;
    display: block;
    text-align: center;
}

.img {
    height: 50px;
}

.head {
    font-weight: bold;
}

.details {
    margin-left: 6vh;
}

.instruction {
    display: flex;
    justify-content: center;
    font-weight: bold;
}